{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% apply inline_css(source("styles/base.css")) %}
<div class="box">
{% if is_granted('ROLE_ADMIN') %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active"><a class="nav-link" href="{{ path('admin_products_add') }}">Ajouter un produit</a></li>
      </ul>
    </div>
  </div>
</nav>
        {% endif %}
<h1>Listes des produits</h1>
    <div style="display: flex; flex-wrap: wrap">
        {% for product in products | reverse %}
            {% include 'shared/product-card.html.twig' %}
        {% endfor %}
    </div>
    </div>
    {% endapply %}

{% endblock %}
