.panel{
    width:30%;
    margin: 0 auto 0 auto;
    padding:0px 0px 30px 0px; 
    text-align: center;
}

.option{
  font-size: x-large;
  text-align: center;
}


h1{
    text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  display: flex; 
  flex-direction: row;
  font-family: arial;
  width: 60%;
}

.paragraphe {
  color: grey;
  font-size: 16px;
}
span {
  color: grey;
  flex-direction: column;
  font-size: 16px;
}
.card button {
  border: none;
  outline: 0;
  color: white;
  background-color: darkorange;
  text-align: center;
  padding: 2%;
  cursor: pointer;
  width: 100%;
  height: 5%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


.spanphoto {
  height: 50%;
  width: 100%;
  padding: 5%;
}

.spancontenu {
  color: black;
  height: 50%;
  width:100%;
  padding: 5% ;
}

.brtitre {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
  
}

  .filtre{
    width: 25%;
    padding: 10px;
    font-size: 1.5em;
    
  }
