.panel{
    width:30%;
    margin: 0 auto 0 auto;
    padding:0px 0px 30px 0px; 
    text-align: center;
}

.option{
  font-size: x-large;
  text-align: center;
}


h1{
    text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  display: flex; 
  flex-direction: row;
  font-family: arial;
  width: 60%;
}

.paragraphe {
  color: grey;
  font-size: 16px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


.spanphoto {
 
  height: 50%;
  width: 100%;
  padding: 5%;
}

.spancontenu {
 
  height: 50%;
  width:100%;
  padding: 5% ;
}

.brtitre {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
  
}

.button1 {
  background: darkorange;
  background-color:darkorange;
  color: darkorange;
  width: 250px;} /* Green */

  .filtre{
    width: 25%;
    padding: 5px;
    font-size: 1.5em;
  }