.panel{
    width:30%;
    margin: 0 auto 0 auto;
    text-align: center;
    margin: auto;
}

.option{
  font-size: x-large;
  text-align: center;
}


h1{
    text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  display: flex; 
  flex-direction: row;
  font-family: arial;
  width: 60%;
}

.video{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  align-content: center;
  font-family: arial;
  width: 60%;
  height: 60%;
}

.paragraphe {
  color: grey;
  font-size: 1.5rem;
    height:60px;
    line-height:20px; /* Height / no. of lines to display */
    overflow:hidden;

}

span {
  color: grey;
  flex-direction: column;
  font-size: 27px;
}
.card button {
  align-items: center;
  border: none;
  outline: 0;
  color: white;
  background-color: darkorange;
  cursor: pointer;
  width: 100%;
  height: 10%;
  font-size: 19px;
}

.card button:hover {
  opacity: 0.7;
} 

.spanphoto {
  max-height: 100%;
  max-width: 100%;
  padding: 5%;
}

.spancontenu {
  color: black;
  height: auto;
  font-size: 25px;
  max-width:100%;
  max-height:100%;
  margin: auto;
  padding: 5% ;
}

.brtitre {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
  
}

  .filtre{
    width: 25%;
    padding: 10px;
    font-size: 1.5em;
    margin: auto;
    
  }


  a{
    color:white
    }

    .buttonback {
      border: none;
      outline: 0;
      color: white;
      background-color: darkorange;
      cursor: pointer;
      width: 15%;
      height: 15%;
      font-size: 19px;
      margin: auto;
    }





    
    

    
