{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="example-wrapper" style="font-size: 1.5rem; width: 60%; background-color: white; margin-left: 20%; margin-top: 0px;">
<h1>Liste des utilisateurs</h1>
  {% if users is not empty %}
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Mail</th>
      <th scope="col">Dernière connexion</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.name }}</td>
      <td><a href="mailto:{{ user.mail }}">{{ user.mail }}</a></td>
      <td>{{ user.lastLogin | date("m/d/Y H:i", "Europe/Paris") }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    {% else %}
        Aucune utilisateur
    {% endif %}
</div>
    
{% endblock %}
