<div>
        
        <div class="card" style="width: 70%;">
                <span class="spancontenu">
                    <h2><b>{{article.title}}</b></h2>
                    <br class="brtitre">
                    <h4 class="paragraphe">Crée le: {{ article.created|date('d-m-Y') }} par {{article.user}}</h4>
                    <p style="text-align: justify; text-justify: inter-word; font-size: 1.5rem;">{{ article.text }}</p>
                </span>            
            </div>
            <br>
    </div>
    <br>