{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
   {% apply inline_css(source("styles/games.css")) %}


<div id ="">
{% include 'shared/article-card.html.twig' %}

</div>


<div class="card" style="width: 60%;">
  <span class="spancontenu">
<h2>Liste des commentaires</h2>
<br>
    {{ form(commentForm) }}
    </span>
</div>
    <br class="brtitre">
    <br class="brtitre">
<div class="fixed-bottom" style="margin: 20px;">
  <button class="btn btn-primary float-start buttonback"> <a href="{{ path('article_index')}}"><i class="fa fa-arrow-circle-left"></i> Retour à la liste </button>
  <button class="btn btn-primary float-end buttonback"> <a href="#">Haut  <i class="fa fa-arrow-circle-up"></i> </button>
</div>
    
 
  
{% endapply %}
{% endblock %}