{% extends 'base.html.twig' %}

{% block body %}
{% apply inline_css(source("styles/games.css")) %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

<div>
        {% for article in articles %}
        <div style="
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        margin: auto;
        display: flex; 
        flex-direction: row;
        font-family: arial;
        width: 100%;">
                <span class="spancontenu">
                    <h2><b>{{article.title}}</b></h2>
                    <br class="brtitre">
                    <h4 class="paragraphe">Crée le: {{ article.created|date('d-m-Y') }}</h4>
                    <p style="text-align: justify; text-justify: inter-word;">{{ article.text }}</p>
                </span>            
            </div>
            <br>
        {% endfor %}
    </div>
   
</div>
{% endapply %}
{% endblock %}
